<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- For Facebook -->
    <meta property="og:title" content="করোনাভাইরাস: সুপারহিরোদের গল্প"/>
    <meta property="og:type" content="article"/>
    <meta property="og:image" content="https://coronainbangladesh.com/images/fb_og_donate.png"/>
    <meta property="og:url" content="https://coronainbangladesh.com/donations"/>
    <meta property="og:description"
          content="আপনার সাহায্যের হাত বাড়িয়ে দিন, সুপারহিরোদের পাশে দাঁড়ান"/>

    <!-- For Google -->
    <meta name="description"
          content="একটি স্বেচ্ছাসেবী উদ্যোগ, যার উদ্দেশ্য হচ্ছে করোনা ভাইরাস মহামারির সময়ে বাংলাদেশে একটি সমন্বিত এবং নির্ভরযোগ্য অনলাইন তথ্যভাণ্ডার তৈরী করা"/>
    <meta name="keywords"
          content="coronavirus, corona, covid19, covid-19, bangladesh, epidemic, dhaka, iedcr, quarantine"/>

    <title>Corona in Bangladesh - বাংলাদেশে করোনা ভাইরাস সম্পর্কিত যাবতীয় সকল তথ্যের একটি অনলাইন তথ্যভান্ডার</title>

    <link rel="shortcut icon" href="images/favicon.svg" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="css/style.css">

    <script src="https://kit.fontawesome.com/ad532652d6.js" crossorigin="anonymous"></script>
    <script src="https://cdn.datedropper.com/get/hc9449von9g84k8erzpufmrcnuhj0f79"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-110318517-12"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-110318517-12');
    </script>
	</head>
	<body class="corona-bg-dark">

		<div class="modal fade" id="popup" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>...</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
		</div>
		
		<header>
      <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark-corona">
        <a class="navbar-brand" href="/"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse navbar-right" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">হোম <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/corona">করোনাভাইরাস কি?</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/prevention">প্রতিরোধে করণীয়</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/mythbuster">সত্য নাকি মিথ্যা?</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/updates">আপডেট</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/emergency">জরুরি যোগাযোগ</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">যোগাযোগ</a>
            </li>
            <li class="nav-item">
              <a class="nav-link switch" href="/en/donations">Switch to English</a>
            </li>
          </ul>
        </div>
      </nav>
		</header>

		<section class="content" style="margin-top:70px">
      <div class="corona-box">
        <div class="corona-title">
          <h2>করোনাভাইরাস: সুপারহিরোদের গল্প</h2>
        </div>
        <div class="corona-content">
          <p class="superhero-intro">সুপারহিরোরা বইয়ের পাতায় বা টিভির পর্দায় নয়, আমাদের আশে পাশের জগতেই ছড়িয়ে ছিটিয়ে রয়েছে। তারা দিন রাত খেটে যাচ্ছে হত দরিদ্র মানুষের মুখে একবেলার খাবার তুলে দিতে, আমাদের ডাক্তারদের বাঁচিয়ে রাখার পিপিই বানাতে আর আমাদের দেশের মানুষের হাতে হ্যান্ড স্যানিটাইজার তুলে দিতে। আমাদের বন্ধুরা - হাসান মুনহামান্নাহ আর মালিহা মোহসিন - <a href="https://docs.google.com/spreadsheets/d/1MJ9uuMqLBujJ-R2HPPphPf6NwFn72AYSVhmWrZIkJnE/edit?usp=sharing" target="_blank">এই তালিকাটি</a> প্রস্তুত করেছেন, যার ফলে আমরা আপনাদের সামনে এই সুপারহিরোদের গল্প তুলে ধরতে পারছি।<br><br>আপনি কি জানেন এমনই কোনও সুপারহিরোর কথা? তাহলে এখনই জানিয়ে দিন তাদের গল্পটি, আমাদের ইমেইলেঃ <a href="mailto:contact@coronainbangladesh.com">contact@coronainbangladesh.com</a></p>
        </div>
      </div>

      <div class="row donations">

				<% for (let i=0; i<charity_orgs.length; i++) { %>
				<div class="col-md-4">
          <div class="donation-card">
            <h2 class="org-name"><%= charity_orgs[i].name %></h2>

            <div class="org-details">
							<h5>সংগঠনটি যা যা করছে</h5>
							
							<% for (let activity of charity_orgs[i].activities) { %>
								<p><%= activity %></p>
							<% } %>

							<h5>যেসব জায়গায় কাজ করছে</h5>
							
								<ul>
									<% for (let location of charity_orgs[i].locations) { %>
										<li><%= location %></li>
									<% } %>
								</ul>

            </div>


						<div class="org-donate">
							<% if(charity_orgs[i].how_to_donate.length > 0) { %>
								<a href="#" class="btn btn-corona how-to-donate-btn"><i class="fas fa-hand-holding-usd"></i> ডোনেট করুন</a>
                <% } else { %>
                  <%
                    let org = JSON.stringify(charity_orgs[i]);
                    let start = org.indexOf('"donate_website"');
                    let end = org.indexOf('"', start + 18);
                  %>
									<a href="<%= org.substring(start + 18, end) %>" class="btn btn-corona" target="_blank"><i class="fas fa-hand-holding-usd"></i> ডোনেট করুন</a>
							<% } %>
								<a href="#" class="btn btn-corona contact-info-btn"><i class="fas fa-phone-alt"></i> যোগাযোগের উপায়</a>
            </div>

						<% if(charity_orgs[i].how_to_donate.length > 0) { %>
							<div class="how-to-donate">
								<% for (let donation_method of charity_orgs[i].how_to_donate) { %>
									<p>প্ল্যাটফর্ম : <%= donation_method.platform %> <br>
									যোগাযোগ : <%= donation_method.contact_info %></p>
								<% } %>
							</div>
						<% } %>

            <div class="contact-info">
              <% for (let contact_method of charity_orgs[i].contact) { %>
								<p>প্ল্যাটফর্ম : <%= contact_method.platform %> <br>
								যোগাযোগ : <%= contact_method.contact_info %></p>
							<% } %>
            </div>
          </div>
        </div>
				<% } %>

      </div>
    </section>
		
		<footer>
      <p class="m0"><strong>করোনা ইন বাংলাদেশ</strong> একটি স্বেচ্ছাসেবী উদ্যোগ, যার উদ্দেশ্য হচ্ছে করোনা ভাইরাস মহামারির সময়ে বাংলাদেশে একটি সমন্বিত এবং নির্ভরযোগ্য অনলাইন তথ্যভাণ্ডার তৈরী করা।</p>
      <p class="m0"><a href="/about">আমাদের সম্পর্কে</a> | <a href="/privacy-policy">তথ্যের গোপনীয়তা</a> | <a href="/contact">যোগাযোগ</a></p>
		</footer>
		
		<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://masonry.desandro.com/masonry.pkgd.js"></script>
    <script type="text/javascript">
      $(document).ready(function(){
        $('.how-to-donate-btn').click(function(){
          $('#popup .modal-body').html($(this).parent().parent().find('.how-to-donate').html());
          $('#popup .modal-title').html($(this).parent().parent().find('.org-name').html());

          $('#popup').modal('show');

          return false;
        });

        $('.contact-info-btn').click(function(){
          $('#popup .modal-body').html($(this).parent().parent().find('.contact-info').html());
          $('#popup .modal-title').html($(this).parent().parent().find('.org-name').html());

          $('#popup').modal('show');

          return false;
        });

        $('.donations').masonry({
          // set itemSelector so .grid-sizer is not used in layout
          itemSelector: '.col-md-4',
          // use element for option
          // columnWidth: '.grid-sizer',
          percentPosition: true
        })
      });
    </script>

	</body>
</html>