<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Corona in Bangladesh - A comprehensive information hub about the Coronavirus in Bangladesh</title>

    <link rel="shortcut icon" href="images/favicon.svg" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="css/style.css">

    <script src="https://kit.fontawesome.com/ad532652d6.js" crossorigin="anonymous"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-110318517-12"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-110318517-12');
    </script>
    <script src="js/mapdata.js"></script>
    <script src="js/countrymap.js"></script>
  </head>
  <body class="corona-bg-dark">
    <header>
      <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark-corona">
        <a class="navbar-brand" href="/en"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse navbar-right" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/en/corona">What is Coronavirus?</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/en/prevention">Preventions</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/en/mythbuster">Mythbuster</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/en/updates">Updates</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/en/emergency">Emergencies</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/en/contact">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link switch" href="/">বাংলা তে দেখুন</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <section class="content" style="margin-top:70px">
      <div class="row call-to-actions">
        <div class="col-md-3">
            <a href="/en/corona" class="action">
              <h2>COVID-19</h2>
              <p>Get to know what is coronavirus and how it spreads</p>
            </a>
        </div>
        <div class="col-md-3">
            <a href="/en/prevention" class="action">
              <h2>PREVENTIONS</h2>
              <p>Learn how to take protective measures for you and for your loved ones</p>
            </a>
        </div>
        <div class="col-md-3">
            <a href="/en/donations" class="action">
              <h2>HOW YOU CAN HELP</h2>
              <p>Organizations that are doing charitable works during this pandemic</p>
            </a>
        </div>
        <div class="col-md-3">
            <a href="/en/mythbuster" class="action">
              <h2>MYTHBUSTER</h2>
              <p>Test your knowledge on how much you know about coronavirus</p>
            </a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="corona-box live-update">
            <div class="corona-title">
              <h2>LIVE UPDATE</h2>
            </div>
            <div class="corona-content">
              <div class="row corona-numbers">
                <div class="col-4">
                  <div class="numbers-box confirmed">
                    <h2><%=  stats.confirmed < 44 ? 44 : stats.confirmed %></h2>
                    <span>CONFIRMED CASES</span>
                  </div>
                </div>
                <div class="col-4">
                  <div class="numbers-box recoveries">
                    <h2><%= stats.recovered < 11 ? 11 : stats.recovered %></h2>
                    <span>RECOVERIES</span>
                  </div>
                </div>
                <div class="col-4">
                  <div class="numbers-box deaths">
                    <h2><%= stats.deaths < 5 ? 5 : stats.deaths %></h2>
                    <span>DEATHS</span>
                  </div>
                </div>
              </div>

              <p class="text-right mt-0"><small><a href="https://coronavirus.jhu.edu/map.html?fbclid=IwAR2Nd2b77YSttHTU3Ts5HsFGA5WLYV8z5a62g4ZmAMWX4KyHNf_0dTYzizY" target="_blank">[Source: CSSE JHU]</a></small></p>

              <div class="news-box" style="height:470px">
                <% for (let news of live_news) { %>
                  <div href="#" class="news-text">
                    <p class="m0"><i class="fa fa-clock"></i> <%= news.date %> <%= news.time %></p>
                    <h6><%= news.title %></h6>
                  </div>
                <% } %>
              </div>
              <br>
              <center><a href="/en/live-update" class="btn btn-corona">Show More</a></center>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="corona-box">
            <div class="corona-title">
              <h2>Home Quarantine in Bangladesh</h2>
            </div>
            <div id="map" class="corona-content">
            </div>
            <div class="corona-title" style="background-image: linear-gradient(to right, rgba(191,96,135, 0.05), rgba(191,96,135, 1));display: flex; justify-content: space-between;">
              <span style="font-size: larger;">0</span><span style="font-size: small; position: relative; top: 5px;">No. of People in Home Quarantine</span><span style="font-size: larger;">12320</span>
            </div>
          </div>
        </div>

      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="corona-box preventions">
            <div class="corona-title">
              <h2>Prevention Tips</h2>
            </div>
            <div class="corona-content">
              <div class="prevention-tip">
                <div class="row h-100">
                  <div class="col-xl-2 col-lg-3 col-4" style="margin:auto">
                    <img src="../images/prevention-1.svg" alt="">
                  </div>
                  <div class="col-xl-10 col-lg-9 col-8" style="margin:auto">
                    <h5>Avoid close contact with people (handshakes, hugs, kisses).</h5>
                  </div>
                </div>
              </div>
              <div class="prevention-tip">
                <div class="row h-100">
                  <div class="col-xl-2 col-lg-3 col-4" style="margin:auto">
                    <img src="../images/prevention-2.svg" alt="">
                  </div>
                  <div class="col-xl-10 col-lg-9 col-8" style="margin:auto">
                    <h5>Avoid touching your face (eyes, nose, mouth)</h5>
                  </div>
                </div>
              </div>
              <div class="prevention-tip">
                <div class="row h-100">
                  <div class="col-xl-2 col-lg-3 col-4" style="margin:auto">
                    <img src="../images/prevention-3.svg" alt="">
                  </div>
                  <div class="col-xl-10 col-lg-9 col-8" style="margin:auto">
                    <h5>Cover your cough or sneeze with a tissue, then throw the tissue in the trash. If you don’t have a tissue at hand, use your arm or elbow region to cover up.</h5>
                  </div>
                </div>
              </div>
              <div class="prevention-tip">
                <div class="row h-100">
                  <div class="col-xl-2 col-lg-3 col-4" style="margin:auto">
                    <img src="../images/prevention-4.svg" alt="">
                  </div>
                  <div class="col-xl-10 col-lg-9 col-8" style="margin:auto">
                    <h5>Wash your hands often with soap and water for at least 20 seconds. Use hand sanitizer often.</h5>
                  </div>
                </div>
              </div>
              <div class="prevention-tip">
                <div class="row h-100">
                  <div class="col-xl-2 col-lg-3 col-4" style="margin:auto">
                    <img src="../images/prevention-5.svg" alt="">
                  </div>
                  <div class="col-xl-10 col-lg-9 col-8" style="margin:auto">
                    <h5>Stay home if you are sick, unless you have to get medical treatment.</h5>
                  </div>
                </div>
              </div>
              <div class="prevention-tip">
                <div class="row h-100">
                  <div class="col-xl-2 col-lg-3 col-4" style="margin:auto">
                    <img src="../images/prevention-6.svg" alt="">
                  </div>
                  <div class="col-xl-10 col-lg-9 col-8" style="margin:auto">
                    <h5>Clean and disinfect any objects (mobile phones, laptops, glasses) that you daily use.</h5>
                  </div>
                </div>
              </div>

              <center><a href="/en/prevention" class="btn btn-corona">Learn More</a></center>
            </div>
          </div>
        </div>
        
        <div class="col-md-6">
          <div class="corona-box">
            <div class="corona-title">
              <h2>Mythbuster</h2>
            </div>
            <div class="corona-content">
              <div id="myths" style="display:block">
                  <div class="myth" style="display:block">
                      <div class="right_or_wrong">
                          <h2 class="the_myth">Eating Thankuni leaves can make you resistant to the new coronavirus (COVID-19).</h2>

                          <a href="#" class="right_button">Right</a> <a href="#" class="wrong_button">Wrong</a>
                      </div>

                      <div class="the_answer">
                          <h2 class="right_answer">You are <strong>RIGHT</strong></h2>
                          <h2 class="wrong_answer">You are <strong>WRONG</strong></h2>

                          <p>There is no evidence that consuming Thankuni leaves can help grow a resistance against the new coronavirus. To clear your ideas about such myths, play our Mythbuster game.</p>

                          <a href="/en/mythbuster"><button class="next_question">Play</button></a>
                      </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
        
      </div>
    </section>

    <footer>
      <p class="m0"><strong>Corona in Bangladesh</strong> is a voluntary initiative with a mission to build and serve a comprehensive and trustworthy online information hub in the time of coronavirus epidemic in Bangladesh.</p>
      <p class="m0"><a href="/en/about">About</a> | <a href="/en/privacy-policy">Privacy Policy</a> | <a href="/en/contact">Contact</a></p>
    </footer>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script type="text/javascript">
      function fix_height() {
        var live_update = $('.live-update').height();
        var preventions = $('.preventions').height();

        if ($(window).height() > 800) {
          if (live_update > preventions) {
            $('.preventions').css({height: live_update+'px'});
          } else {
            $('.live-update').css({height: preventions+'px'});
          }
        }
      }

      $(document).ready(function(){
        fix_height();

        $('tspan').remove();

        $('.right_button').click(function(){
          $('.the_answer .wrong_answer').show();
          $('.right_or_wrong').hide();
          $('.the_answer').fadeIn();

          return false;
        });

        $('.wrong_button').click(function(){
          $('.the_answer .right_answer').show();
          $('.right_or_wrong').hide();
          $('.the_answer').fadeIn();

          return false;
        });
      });

      $(window).resize(function(){
        fix_height();
      });
    </script>
  </body>
</html>
