<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- For Facebook -->
    <meta property="og:title" content="Corona in Bangladesh"/>
    <meta property="og:type" content="article"/>
    <meta property="og:image" content="https://coronainbangladesh.com/images/fb_og_image.png"/>
    <meta property="og:url" content="https://coronainbangladesh.com/"/>
    <meta property="og:description"
          content="একটি স্বেচ্ছাসেবী উদ্যোগ, যার উদ্দেশ্য হচ্ছে করোনা ভাইরাস মহামারির সময়ে বাংলাদেশে একটি সমন্বিত এবং নির্ভরযোগ্য অনলাইন তথ্যভাণ্ডার তৈরী করা।"/>

    <!-- For Google -->
    <meta name="description"
          content="একটি স্বেচ্ছাসেবী উদ্যোগ, যার উদ্দেশ্য হচ্ছে করোনা ভাইরাস মহামারির সময়ে বাংলাদেশে একটি সমন্বিত এবং নির্ভরযোগ্য অনলাইন তথ্যভাণ্ডার তৈরী করা"/>
    <meta name="keywords"
          content="coronavirus, corona, covid19, covid-19, bangladesh, epidemic, dhaka, iedcr, quarantine"/>

    <title>Corona in Bangladesh - বাংলাদেশে করোনা ভাইরাস সম্পর্কিত যাবতীয় সকল তথ্যের একটি অনলাইন তথ্যভান্ডার</title>

    <link rel="shortcut icon" href="images/favicon.svg" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="css/style.css">

    <script src="https://kit.fontawesome.com/ad532652d6.js" crossorigin="anonymous"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-110318517-12"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-110318517-12');
    </script>
  </head>
  <body class="corona-bg-dark">
    <header>
      <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark-corona">
        <a class="navbar-brand" href="/"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse navbar-right" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">হোম <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/corona">করোনাভাইরাস কি?</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/prevention">প্রতিরোধে করণীয়</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/mythbuster">সত্য নাকি মিথ্যা?</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/emergency">জরুরি যোগাযোগ</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">যোগাযোগ</a>
            </li>
            <li class="nav-item">
              <a class="nav-link switch" href="/en">Switch to English</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <section class="content" style="margin-top:70px">
      
      <div class="row call-to-actions">
        <div class="col-md-3">
            <a href="/corona" class="action">
              <h2>COVID-19</h2>
              <p>করোনা ভাইরাস কী এবং কীভাবে ছড়ায় তা জানুন</p>
            </a>
        </div>
        <div class="col-md-3">
            <a href="/prevention" class="action">
              <h2>প্রতিরোধ</h2>
              <p>কিভাবে নিজের এবং প্রিয়জনের নিরাপত্তা নিশ্চিত করবেন তা জানুন</p>
            </a>
        </div>
        <div class="col-md-3">
            <a href="/emergency" class="action">
              <h2>জরুরী যোগাযোগ</h2>
              <p>আপনি সংক্রমিত হলে কোথায় যোগাযোগ করবেন তা জেনে নিন</p>
            </a>
        </div>
        <div class="col-md-3">
            <a href="/mythbuster" class="action">
              <h2>সত্যি নাকি মিথ্যা?</h2>
              <p>করোনা ভাইরাস সম্পর্কে আপনি কতটুকু জানেন তা পরীক্ষা করে নিন</p>
            </a>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="corona-box live-update">
            <div class="corona-title">
              <svg height="20" width="50" class="blinking">
                <circle cx="25" cy="10" r="10" fill="red"></circle>
                Sorry, your browser does not support inline SVG.
              </svg>
              <h2 class="live-title">লাইভ আপডেট</h2>
            </div>
            <div class="corona-content">
              <div class="row corona-numbers">
                <div class="col-4">
                  <div class="numbers-box confirmed">
                    <h2><%= stats.confirmed %></h2>
                    <span>জন আক্রান্ত হয়েছেন</span>
                  </div>
                </div>
                <div class="col-4">
                  <div class="numbers-box recoveries">
                    <h2><%= stats.recovered %></h2>
                    <span>জন সুস্থ হয়েছেন</span>
                  </div>
                </div>
                <div class="col-4">
                  <div class="numbers-box deaths">
                    <h2><%= stats.deaths %></h2>
                    <span>জন মৃত্যুবরণ করেছেন</span>
                  </div>
                </div>
              </div>

              <p class="text-right mt-0"><small><a href="https://coronavirus.jhu.edu/map.html?fbclid=IwAR2Nd2b77YSttHTU3Ts5HsFGA5WLYV8z5a62g4ZmAMWX4KyHNf_0dTYzizY" target="_blank">[তথ্যসূত্র: CSSE JHU]</a></small></p>

              <div class="news-box" style="height:470px">
                <% for (let news of live_news) { %>
                  <div href="#" class="news-text">
                    <p class="m0"><i class="fa fa-clock"></i> <%= news.date %> <%= news.time %></p>
                    <h6><%= news.title %></h6>
                  </div>
                <% } %>
              </div>
              <br>
              <center><a href="/live-update" class="btn btn-corona">বিস্তারিত দেখুন</a></center>

            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="corona-box preventions">
            <div class="corona-title">
              <h2>সংক্রমণ প্রতিরোধে করণীয়</h2>
            </div>
            <div class="corona-content">
              <div class="prevention-tip">
                <div class="row h-100">
                  <div class="col-xl-2 col-lg-3 col-4" style="margin:auto">
                    <img src="images/prevention-1.svg" alt="">
                  </div>
                  <div class="col-xl-10 col-lg-9 col-8" style="margin:auto">
                    <h5>মানুষের সাথে ঘনিষ্ঠতা পরিহার করুন (করমর্দন বা হ্যান্ডশেক, আলিঙ্গন বা কোলাকুলি করা, চুম্বন ইত্যাদি)।</h5>
                  </div>
                </div>
              </div>
              <div class="prevention-tip">
                <div class="row h-100">
                  <div class="col-xl-2 col-lg-3 col-4" style="margin:auto">
                    <img src="images/prevention-2.svg" alt="">
                  </div>
                  <div class="col-xl-10 col-lg-9 col-8" style="margin:auto">
                    <h5>মুখের যেকোন অংশে (চোখ, নাক, ঠোঁট ইত্যাদি) হাত দেয়া থেকে বিরত থাকুন।</h5>
                  </div>
                </div>
              </div>
              <div class="prevention-tip">
                <div class="row h-100">
                  <div class="col-xl-2 col-lg-3 col-4" style="margin:auto">
                    <img src="images/prevention-3.svg" alt="">
                  </div>
                  <div class="col-xl-10 col-lg-9 col-8" style="margin:auto">
                    <h5>হাঁচি বা কাশি দেয়ার সময় টিস্যু দিয়ে মুখ ঢেকে নিন, তারপর টিস্যুটি ফেলে দিন। হাতের নাগালে টিস্যু না থাকলে বগল বা কনুই ব্যবহার করে মুখ ঢেকে নিন।</h5>
                  </div>
                </div>
              </div>
              <div class="prevention-tip">
                <div class="row h-100">
                  <div class="col-xl-2 col-lg-3 col-4" style="margin:auto">
                    <img src="images/prevention-4.svg" alt="">
                  </div>
                  <div class="col-xl-10 col-lg-9 col-8" style="margin:auto">
                    <h5>অহরহ হাত ধোয়ার অভ্যাস করুন। সাবান এবং পানি দিয়ে অন্তত ২০ সেকেন্ড সময় নিয়ে হাত ধোয়া উচিত। সাবান এবং পানি হাতের কাছে না থাকলে হ্যান্ড স্যানিটাইজার ব্যবহার করুন।</h5>
                  </div>
                </div>
              </div>
              <div class="prevention-tip">
                <div class="row h-100">
                  <div class="col-xl-2 col-lg-3 col-4" style="margin:auto">
                    <img src="images/prevention-5.svg" alt="">
                  </div>
                  <div class="col-xl-10 col-lg-9 col-8" style="margin:auto">
                    <h5>অসুস্থ হলে বাসায় থাকুন, যদি না আপনার চিকিৎসা প্রয়োজন হয়।</h5>
                  </div>
                </div>
              </div>
              <div class="prevention-tip">
                <div class="row h-100">
                  <div class="col-xl-2 col-lg-3 col-4" style="margin:auto">
                    <img src="images/prevention-6.svg" alt="">
                  </div>
                  <div class="col-xl-10 col-lg-9 col-8" style="margin:auto">
                    <h5>দৈনন্দিন ব্যবহারের বিভিন্ন সরঞ্জামাদি (যেমন মোবাইল ফোন, ল্যাপ্টপ, চশমা, মানিব্যাগ ইত্যাদি) পরিষ্কার এবং জীবাণুমুক্ত করুন।</h5>
                  </div>
                </div>
              </div>

              <center><a href="/prevention" class="btn btn-corona">আরো জানুন</a></center>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="corona-box">
            <div class="corona-title">
              <h2>সত্য নাকি মিথ্যা?</h2>
            </div>
            <div class="corona-content">
              <div id="myths" style="display:block">
                  <div class="myth" style="display:block">
                      <div class="right_or_wrong">
                          <h2 class="the_myth">থানকুনি পাতা খাওয়ার মাধ্যমে করোনা ভাইরাস সংক্রমণের সম্ভাবনা কমিয়ে আনা যায়</h2>

                          <a href="#" class="right_button">সত্য</a> <a href="#" class="wrong_button">মিথ্যা</a>
                      </div>

                      <div class="the_answer">
                          <h2 class="right_answer">আপনার উত্তরটি <strong>সঠিক</strong></h2>
                          <h2 class="wrong_answer">আপনার উত্তরটি <strong>সঠিক নয়</strong></h2>

                          <p>থানকুনি পাতা খাওয়ার সাথে করোনা ভাইরাস সংক্রমণ রোধের কোনো সম্পর্ক নেই। এরকম আরো ভুল ধারণা সম্পর্কে অবগত হতে আমাদের <strong>সত্য নাকি মিথ্যা</strong> গেমটি খেলুন।</p>

                          <a href="/mythbuster"><button class="next_question">শুরু করুন</button></a>
                      </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="corona-box">
            <div class="corona-title">
              <h2>আলোচিত সংবাদ</h2>
            </div>
            <div class="corona-content">
              <div class="news-box">
                <% for (let news of featured_news) { %>
                  <a href="<%= news.link %>" class="news" target="_blank">
                    <h5><%= news.title %></h5>
                    <p><%= news.description %></p>
                    <% let news_date = new Date(news.date) %>
                    <p class="time-ago"><i class="fa fa-clock"></i> <%= news_date.getFullYear()+'-' + (news_date.getMonth()+1) + '-'+news_date.getDate() %></p>
                </a>
                <% } %>
              </div>

              <p class="text-right mt-0"><small><a href="#">[তথ্যসূত্র: বাংলাদেশের অনলাইন নিউজ পোর্টাল]</a></small></p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <footer>
      <p class="m0"><strong>করোনা ইন বাংলাদেশ</strong> একটি স্বেচ্ছাসেবী উদ্যোগ, যার উদ্দেশ্য হচ্ছে করোনা ভাইরাস মহামারির সময়ে বাংলাদেশে একটি সমন্বিত এবং নির্ভরযোগ্য অনলাইন তথ্যভাণ্ডার তৈরী করা।</p>
      <p class="m0"><a href="/about">আমাদের সম্পর্কে</a> | <a href="/privacy-policy">তথ্যের গোপনীয়তা</a> | <a href="/contact">যোগাযোগ</a></p>
    </footer>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
   
   <script type="text/javascript">
      function fix_height() {
        var live_update = $('.live-update').height();
        var preventions = $('.preventions').height();

        if ($(window).height() > 800) {
          if (live_update > preventions) {
            $('.preventions').css({height: live_update+'px'});
          } else {
            $('.live-update').css({height: preventions+'px'});
          }
        }
      }

      $(document).ready(function(){
        fix_height();

        $('.right_button').click(function(){
          $('.the_answer .wrong_answer').show();
          $('.right_or_wrong').hide();
          $('.the_answer').fadeIn();

          return false;
        });

        $('.wrong_button').click(function(){
          $('.the_answer .right_answer').show();
          $('.right_or_wrong').hide();
          $('.the_answer').fadeIn();

          return false;
        });
      });

      $(window).resize(function(){
        fix_height();
      });
    </script>
  </body>
</html>
