<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- For Facebook -->
    <meta property="og:title" content="Corona in Bangladesh"/>
    <meta property="og:type" content="article"/>
    <meta property="og:image" content="https://coronainbangladesh.com/images/fb_og_image.png"/>
    <meta property="og:url" content="https://coronainbangladesh.com/"/>
    <meta property="og:description"
          content="একটি স্বেচ্ছাসেবী উদ্যোগ, যার উদ্দেশ্য হচ্ছে করোনা ভাইরাস মহামারির সময়ে বাংলাদেশে একটি সমন্বিত এবং নির্ভরযোগ্য অনলাইন তথ্যভাণ্ডার তৈরী করা।"/>

    <!-- For Google -->
    <meta name="description"
          content="একটি স্বেচ্ছাসেবী উদ্যোগ, যার উদ্দেশ্য হচ্ছে করোনা ভাইরাস মহামারির সময়ে বাংলাদেশে একটি সমন্বিত এবং নির্ভরযোগ্য অনলাইন তথ্যভাণ্ডার তৈরী করা"/>
    <meta name="keywords"
          content="coronavirus, corona, covid19, covid-19, bangladesh, epidemic, dhaka, iedcr, quarantine"/>

    <title>Corona in Bangladesh - বাংলাদেশে করোনা ভাইরাস সম্পর্কিত যাবতীয় সকল তথ্যের একটি অনলাইন তথ্যভান্ডার</title>

    <link rel="shortcut icon" href="images/favicon.svg" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="css/style.css">

    <script src="https://kit.fontawesome.com/ad532652d6.js" crossorigin="anonymous"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-110318517-12"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-110318517-12');
    </script>
  </head>
  <body class="corona-bg-dark">
    <header>
      <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark-corona">
        <a class="navbar-brand" href="/"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse navbar-right" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">হোম <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/corona">করোনাভাইরাস কি?</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/prevention">প্রতিরোধে করণীয়</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/mythbuster">সত্য নাকি মিথ্যা?</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/updates">আপডেট</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/emergency">জরুরি যোগাযোগ</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">যোগাযোগ</a>
            </li>
            <li class="nav-item">
              <a class="nav-link switch" href="/en/live-update">Switch to English</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <section class="content" style="margin-top:70px">
      <div class="container">
          <div class="corona-box">
            <div class="corona-title">
              <svg height="20" width="50" class="blinking">
                <circle cx="25" cy="10" r="10" fill="red"></circle>
                Sorry, your browser does not support inline SVG.
              </svg>
              <h2 class="live-title">লাইভ আপডেট</h2>
            </div>
            <div class="corona-content">
              <h5 class="text-center">বাংলাদেশে</h5>

              <div class="row corona-numbers" style="margin-bottom:25px">
                <div class="col-4">
                  <div class="numbers-box confirmed">
                    <h2><%= stats.confirmed < 33 ? 33 : stats.confirmed %></h2>
                    <span>জন আক্রান্ত হয়েছেন</span>
                  </div>
                </div>
                <div class="col-4">
                  <div class="numbers-box recoveries">
                    <h2><%= stats.recovered < 3 ? 3 : stats.recovered %></h2>
                    <span>জন সুস্থ হয়েছেন</span>
                  </div>
                </div>
                <div class="col-4">
                  <div class="numbers-box deaths">
                    <h2><%= stats.deaths < 3 ? 3 : stats.deaths %></h2>
                    <span>জন মৃত্যুবরণ করেছেন</span>
                  </div>
                </div>
              </div>

              <h5 class="text-center">সারা বিশ্বে</h5>

              <div class="row corona-numbers int-numbers">
                <div class="col-4">
                  <div class="numbers-box confirmed">
                    <h2><%= world_stats.confirmed %></h2>
                    <span>জন আক্রান্ত হয়েছেন</span>
                  </div>
                </div>
                <div class="col-4">
                  <div class="numbers-box recoveries">
                    <h2><%= world_stats.recovered %></h2>
                    <span>জন সুস্থ হয়েছেন</span>
                  </div>
                </div>
                <div class="col-4">
                  <div class="numbers-box deaths">
                    <h2><%= world_stats.deaths %></h2>
                    <span>জন মৃত্যুবরণ করেছেন</span>
                  </div>
                </div>
              </div>

              <p class="text-right mt-0"><small><a href="https://coronavirus.jhu.edu/map.html?fbclid=IwAR2Nd2b77YSttHTU3Ts5HsFGA5WLYV8z5a62g4ZmAMWX4KyHNf_0dTYzizY" target="_blank">[তথ্যসূত্র: CSSE JHU]</a></small></p>

              <div class="news-box" style="height:470px">
                <% for (let news of live_news) { %>
                  <div href="#" class="news-text">
                    <p class="m0"><i class="fa fa-clock"></i> <%= news.date %> <%= news.time %></p>
                    <h6><%= news.title %></h6>
                  </div>
                <% } %>
              </div>

              <p class="text-right mt-0"><small><a href="https://www.prothomalo.com/live" target="_blank">[তথ্যসূত্র: প্রথম আলো]</a></small></p>
            </div>
          </div>
      </div>
    </section>

    <footer>
      <p class="m0"><strong>করোনা ইন বাংলাদেশ</strong> একটি স্বেচ্ছাসেবী উদ্যোগ, যার উদ্দেশ্য হচ্ছে করোনা ভাইরাস মহামারির সময়ে বাংলাদেশে একটি সমন্বিত এবং নির্ভরযোগ্য অনলাইন তথ্যভাণ্ডার তৈরী করা।</p>
      <p class="m0"><a href="/about">আমাদের সম্পর্কে</a> | <a href="/privacy-policy">তথ্যের গোপনীয়তা</a> | <a href="/contact">যোগাযোগ</a></p>
    </footer>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>
